* {
  box-sizing: border-box;
}

.App {
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

  /* flex-wrap: wrap; */

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-size: 38px;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: 400px;
  margin-bottom: 30px;
  /* Add some space below the title */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.todo-container {
  font-family: Josefin Sans, sans-serif;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  margin-top: 20px;
  background-color: #25273c;
  width: 35%;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding-top: 0px;
}

.create-container {
  font-family: Josefin Sans, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #25273c;
  width: 25%;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.divider {
  background-color: #474958;
  height: 0.7px;
}

.list-text {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  font: 'Tahoma';
}

.list-icon {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  font: 'Tahoma';
}

.todo-list-icon {
  border: 1px solid #534566;
  border-radius: 50%;
  padding: 10px;
  margin-left: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;

}

.list-filter {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Add this CSS to your app.css file */

.checkBoxStyle {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  transition: border-color 0.3s ease;
  /* Add transition for smooth color change */
  border: 1px solid #534566;
  /* Default border color */
}

/* Add this style to change border color when hovered */
.iconStyle:hover {
  border-color: #61dafb;
}

.iconStyle {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  border: 1px solid #534566;
  margin-left: 10px;
}

/* .listStyle:hover {
  cursor: pointer;
} */